
table,th,td{

    border: 5px solid rgb(0, 0, 0);
    border-collapse: collapse;
    padding-top: 5%;
    margin-left: 25%;
    margin-top: 10%;
}

th{
    background-color: rgb(255, 255, 255);
    padding: 20px;
}
td{
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding: 20px;
}
th:hover,td:hover{
    background-color: darkcyan;
}



